.SearchBarView .MuiSvgIcon-root {
  position: relative;
  left: 39.5%;
  top: -48px;
}

.SearchBarView {
  margin-top: 35px;
}

.MuiSvgIcon-root,
.MuiSvgIcon-colorDisabled,
.MuiSvgIcon-fontSizeLarge {
  cursor: pointer;
}
