// purples
$super-dark-purple: #42005A;
$dark-purple: #7800A2;
$purple-default: #9C00D3;
$medium-purple: #BD36EC;
$light-purple: #D88AF3;
$super-light-purple: #F3D5FE;
// yellow/orange
$super-light-yellow: #F5EAB2;
$light-yellow: #F7E173;
$medium-yellow: #F9D51F;
$medium-orange: #FAB225;
$strong-orange: #F99500; 