@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');

.HomePageView {
  background-color: #42005a;
  padding-top: 70px;
  height: 100vh;
  text-align: center;
}

.search-text {
  padding-top: 50px;
  color: white;
  .course {
    color: #fab224;
  }
}

.or-text{
  color: white;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  padding-top: 150px;
  padding-bottom: 150px;
}
