.Subtitle1 {
    font-size: 14px;
    color: #42005A;
    font-weight: bold;
    margin-bottom: 6px;
    margin-top: 0px;
}

.ReviewComment {
    margin-top: 6px;
    color: #42005A;
    font-size: 12px;
}

.IndividualReviewView {
    display: flex;
}

.ReviewUserDiv {
    flex: 1;
    padding-top: 30px;
}

.ReviewRatingDiv {
    flex: 2;
}

.ReviewCommentDiv {
    flex: 3;
}

.ReviewUserDiv {
    text-align: center;
    padding-top: auto;
}

.ReviewRating {
    display: table-row;
    width: 35%;
    padding: auto;
}

.ReviewRatingTitle, .ReviewRatingNumber, .starRating {
    display: table-cell;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.ReviewCommentDiv {
    width: 40%;
}

.IndividualReviewView {
    margin-top: 35px;
    margin-bottom: 25px;
}