.course-prefix-number {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  display: inline-block;
}

.course-icon {
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  padding-right: 2rem;
}

.MuiTable-root {
  color: purple
}